
<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/log.png" alt="logo">
  </div>
  <mat-divider>   </mat-divider>
  <h2 matSubheader class="mt-2">
    APPLICATION
  </h2>

  <a mat-list-item routerLink="/adminDashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item routerLink="/EmployeeList" routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>Employee List
  </a>
  <a mat-list-item routerLink="/CustomerList" routerLinkActive="list-item-active">
    <mat-icon>note_add</mat-icon>Customer List
  </a>
  <a mat-list-item routerLink="/ItemList" routerLinkActive="list-item-active">
    <mat-icon>menu_book</mat-icon>Item List
  </a>
  <a mat-list-item routerLink="/OrderList" routerLinkActive="list-item-active">
    <mat-icon>assignment turned in icon</mat-icon>Order List
  </a>
  <a mat-list-item routerLink="/OrderDetails" routerLinkActive="list-item-active">
    <mat-icon>assignment turned in icon</mat-icon>Order Details
  </a>


  <a mat-list-item routerLink="/" >
    <mat-icon>logout</mat-icon>Log Out
  </a>
</mat-nav-list>



